<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sealll.mapper.TopicMapper">
<!--    public List<Post> getPosts(String uid,Long timestamp);-->
    <select id="getPosts" resultMap="com.sealll.mapper.PostMapper.postWithAuthorDesc">
        select <include refid="com.sealll.mapper.PostMapper.baseColume"/> ,p.uid as uid,username
        from post p inner join `User` u
        on p.uid = u.uid
        inner join subscribe s on s.subbed=p.uid
        where UNIX_TIMESTAMP(p.time) &lt; #{timestamp} and s.subing=#{uid}
    </select>
</mapper>